.inner-container {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.episode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    transition: ease-in-out .5s;
    @media (max-width: 1250px) {
        width: 32%;
    }
    @media (max-width: 1050px) {
        width: 32%;
        margin-left: 23%;
    }
    
    height: 303px;
    &:hover {
        transition: ease-in-out .5s;
        cursor:pointer;
        box-shadow: 7px 7px 5px rgba(0, 0, 0, .4);
        border: 2px dashed red;
        color: red
      }
    &:hover > ul > img {
        border-radius: 10px;
    }
}

.title {
    text-align-last: center;
    @media (max-width: 1250px) {
        width: 51%;
        margin-left: 25%;
    }
    @media (max-width: 1050px) {
        width: 51%;
        margin-left: 35%;
    }
}

.image {
    height: 140px;
    width: 250px;
}

.btn-logout {
    margin-left: 10px;
    &:hover {
        cursor: pointer;
    }
}

.search-box {
    height: 37px;
    font-size: large;
    border: none;
    text-align: center;
    background-color: rgba(230,230,255,0.6);
    border-radius: 35px;
}

.popup {
    background-color: rgba(0, 0, 0, .95);
    max-width: 300px;
    border-radius: 20px;
    color: white;
    padding: 20px;
}

.search {
    text-align: center;
    font-size: large;
    @media (max-width: 1250px) {
        width: 57%;
        margin-left: 25%;
    }
    @media (max-width: 1050px) {
        width: 34%;
        margin-left: 45%;
    }
}

.seasons {
    margin-left: 35px;
}

img {
    border-radius: 50px;
    transition: ease-in-out .5s;
}

ul {
    padding-left: 0;
    padding-right: 5;
}

li {
    list-style-type: none;
    text-align: center;
}